.getstarted {
  background-image: url('/public/img/city.png');
  background-size: cover;
  background-position: center center;
  position: relative;
  height: 500px;
}

.getstarted-content-wrapper {
  position: relative;
  z-index: 1;
  padding-top: 180px;
  padding-bottom: 100px;
}

.getstarted-overlay{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: linear-gradient(0deg,#000000c9 100%,#cccccc3a 100%);
  pointer-events: none;
}

.getstarted-header {
  color: #f8f9fa!important;
  font-size: clamp(2rem,4vw,3.75rem);
  line-height: 1.16923;
  margin-bottom: 40px;
  text-align: center;
  position: relative;
}

.getstarted-paragraph {
  color: #f8f9fa!important;
  margin-bottom: 25px;
  text-align: center;
  position: relative;
}

.letstalk-button {
  color: black;
  background-color: #f07c68;
  background-image: linear-gradient(135deg, #f07c68, #f7aa9e);
  border-radius: 1.25rem;
  padding: 0.6rem 1rem;
  width: 100px;
  transition: box-shadow .3s cubic-bezier(.912, -.005, .006, .989);
  margin: auto;
  text-decoration: none;
  display: block;
  text-align: center;
  position: relative;
}

.letstalk-button:hover {
  color: black;
  box-shadow: 0px 3px 10px #f07c68
}