
.marketing1 {
  position: relative
}

.marketing1-header {
  font-size: clamp(2rem,4vw,3.75rem);
  line-height: 1.16923;
  margin-bottom: 40px;
  margin-left: 75px;
  max-width: 600px;
  position: relative;
}

.marketing1-paragraph {
  margin-left: 75px;
  margin-right: 160px;
  margin-bottom: 25px;
  position: relative;
}

.marketing1-button {
  font-weight: bold;
  color: #f8f8ff;
  margin-left: 75px;
  padding-bottom: 0.25rem;
  text-underline-offset: 8px;
  position: relative;
}

.section-background-desktop.is-right {
  transform: rotate(-180deg);
}


.section-background-desktop {
  padding: 50px;
  position: absolute;
  height: 100%;
  top: auto;
  bottom: 0%;
  left: 0%;
  right: 0%;
  z-index: -1;
}

.background-desktop {
  background-size: auto;
  background-image: url('/public/img/wrapper-4.svg');
  background-position: 0%;
  background-size: contain;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
  
}

.overlay-wrap {
  z-index: 10;
  position: absolute;
  top: 0%;    
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.overlay-top {
  height: 50%;
  background-image: linear-gradient(to bottom, #0f1117, rgba(15, 17, 23, 0));
}

.overlay-bottom {
  height: 50%;
  background-image: linear-gradient(to bottom, rgba(15, 17, 23, 0), #0f1117);
}

.overlay-right {
  width: 70%;
  height: auto;
  background-image: linear-gradient(to right, rgba(15, 17, 23, 0), #0f1117);
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: auto;
  right: 0%;
}
