.about-us {
  background-image: url('/public/img/wrapper-6.svg');
  background-size: cover;
  height: 100vh;
  padding-top: 70px;
}

.about-us-header {
  font-size: 4rem;
  line-height: 1.16923;
  font-weight: 550;
  margin-top: 100px;
  margin-bottom: 30px;
  margin-left: 0px;
}

.about-us-paragraph {
  margin-right: 160px;
  margin-bottom: 25px;
  padding-right: 600px;
  line-height: 1.5;
  margin-left: 0px;
}