/* fonts.css */

@font-face {
  font-family: 'PixelifySans';
  src: local('PixelifySans'), url('/public/fonts/PixelifySans-VariableFont_wght.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Quicksand';
  src: local('Quicksand'), url('/public/fonts/Quicksand-VariableFont_wght.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
}
