
.home {
  background-image: url('/public/img/wrapper-1.svg');
  background-size: cover;
  height: 100vh;
  padding-top: 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#header-2 {
  font-size: 2.5rem;
}

#exceptional {
  color: #F07C68;
  font-family: 'PixelifySans';
  font-weight: 500;
}

.home-header {
  margin-top: 0px;
  margin-bottom: 0;
  font-size: 4.5rem;
  font-weight: 400;
  line-height: 115%;
  font-family: 'Quicksand';
}

.home-paragraph {
  margin-bottom: 40px;
  padding-top: 1rem;
  font-size: 1.1rem;
  font-weight: bold;
}

.work-with-us-button {
  font-weight: 400;
  color: black;
  background-color: #F07C68;
  background-image: linear-gradient(135deg, #f07c68, #f7aa9e);
  border-radius: 1.25rem;
  padding: 0.6rem 1rem;
  transition: box-shadow .3s cubic-bezier(.912, -.005, .006, .989);
  text-decoration: none;
}

.work-with-us-button:hover {
  color: black;
  box-shadow: 0px 3px 10px #F07C68
  }

.learn-more-button {
  font-weight: 550;
  background-color: #333751;
  border-radius: 1.25rem;
  padding: 0.6rem 1rem;
  margin-left: 20px;
  border: 1px solid #4a5283;
  transition: background-color .3s cubic-bezier(.889, .013, .047, .995);
  text-decoration: none;
}

.learn-more-button:hover {
  box-shadow: none;
  color: white;
  background-color: #4a5283;
}

.home-wrapper {
  margin-bottom: 150px;
}

/* when screen is less than 768px */
@media (max-width: 768px) {
  .home-wrapper {
    text-align: center;
  }

  .home-header {
    font-size: 2.5rem;
  }
}