.home {
  background-image: url('../../img/wrapper-1.svg');
  background-size: cover;
  height: 100vh;
  padding-top: 70px;
}

#nexaminds-2{
  font-size: 2.5rem;
  margin-top: 100px;
  margin-right: 500px;
  margin-left: 70px;
}

#exceptional{
  font-weight: bolder;
  color: #F07C68;
}

.home-header {
  margin-top: 0px;
  margin-bottom: 0;
  margin-right: 500px;
  margin-left: 70px;
  font-size: 4.5rem;
  font-weight: 400;
  line-height: 115%;
  font-family: 'Nunito Sans', sans-serif;
}

.home-paragraph {
  margin-right: 500px;
  margin-left: 70px;
  margin-bottom: 40px;
  padding-top: 1rem
}

a:hover {
  color: #F07C68;
}

.work-with-us-button {
  font-weight: 400;
  color: black;
  background-color: #F07C68;
  border-radius: 1.25rem;
  padding: 0.6rem 1rem;
  margin-left: 70px;
  transition: box-shadow .3s cubic-bezier(.912, -.005, .006, .989);
  text-decoration: none;
}

.work-with-us-button:hover {
  color: black;
  box-shadow: 0px 3px 10px #F07C68
  }

.learn-more-button {
  font-weight: 550;
  background-color: #333751;
  border-radius: 1.25rem;
  padding: 0.6rem 1rem;
  margin-left: 20px;
  border: 1px solid #4a5283;
  transition: background-color .3s cubic-bezier(.889, .013, .047, .995);
  text-decoration: none;
}

.learn-more-button:hover {
box-shadow: none;
color: white;
background-color: #4a5283;
}