.network {
  background-image: url('/public/img/wrapper-2.svg');
  height: 50vh;
  background-size: cover;
  background-position: right center;
  display: block;
  overflow: visible;
}

.network-header {
  font-size: clamp(2rem,4vw,3.75rem);
  line-height: 1.16923;
  margin-bottom: 40px;
  margin-left: 8px;
  margin-top: 80px;
  text-align: center;
}