.features-header {
  margin-top: 80px;
  font-size: 3rem;
  font-weight: 600;
  line-height: 1.2;
  margin-bottom: 50px;
}

.features-paragraph {
  margin-bottom: 100px;
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.bullet-text {
  vertical-align: middle;
  color: white;
  font-weight: 700;
}

.features-paragraph p {
  color: #7a84a1;
  margin-bottom: 0;
  font-family: Sf Pro Text, sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5;
}

.gen-icon {
  vertical-align: middle;
  margin-right: 10px;
  width: 0.75rem;
  height: 0.75rem;
}
