.copyright-wrap {
  border-top: 1px solid #596177;
  margin-top: 3rem;
  margin-left: 9.5rem;
  margin-right: 9.5rem;
  padding-top: 1rem;
  padding-bottom: 1.5rem;
}

.copyright-text {
  font-family: "Poppins", sans-serif;
  color: #6A738E;
  text-align: center;
  font-size: .875rem;
  font-weight: 400;
}

@media (max-width: 768px) {
  .copyright-wrap {
    margin-left: 0;
    margin-right: 0;
  }
}
