.section-integration {
  text-align: center;
}

.section-integration h2 {
  color: white;
}

.section-integration span {
  color: #F07C68;
}

.logo-wrap {
  gap: 50px;
  display: flex;
  justify-content: center;
}

.integration-logo {
  height: 8rem;
}

