.section-integration {
  text-align: center;
}

.section-integration h2 {
  color: white;
}

.section-integration span {
  color: #f07c68;
}

.logo-wrap {
  gap: 100px;
  display: flex;
  justify-content: center;
}

.integration-logo {
  height: 7rem;
}

